<!-- blog/templates/blog/detail_article.html -->

{% extends 'blog/base.html' %} {% block title %}{{ article.titre }}{% endblock
%} {% block content %}
<h2>{{ article.titre }}</h2>
<p>
  Publié par {{ article.auteur }} le {{ article.date_creation|date:"d M Y" }}
</p>
<p>{{ article.contenu }}</p>

{% if article.image %}
<img src="{{ article.image.url }}" alt="{{ article.titre }}" />
{% endif %}

<p>Statut : {{ article.get_statut_display }}</p>

<p><a href="{% url 'liste_articles' %}">Retour à la liste</a></p>

{% if user == article.auteur %}
<p><a href="{% url 'creer_article' %}">Modifier l'article</a></p>
<p>
  <a href="{% url 'supprimer_article' article.id %}">Supprimer l'article</a>
</p>
{% endif %} {% endblock %}
